@import '../../../../styles/colors';

.form-input-container {
  width: 100%;
  color: $color-grey-99;
  font-size: 9px;

  & .form_input {
    border-bottom: 1px solid $blue;
    margin-bottom: 5px;
  }

  .form-input-container__error-message {
    color: $red;
    font-size: 8px;
  }
}
