@import '../../styles/colors';

@mixin button-color($backgroundColor, $color) {
  color: $color;
  background-color: $backgroundColor;
}

.button {
  border: none;
  font-weight: 500;
  font-size: 13px;
  cursor: pointer;
}

.button_block {
  width: 280px;
  height: 37px;
  border-radius: 8px;
}

.button_primary {
  @include button-color($blue, $white);
}

.button_danger {
  @include button-color($red, $white);
}

.button_link {
  &.button_primary {
    @include button-color(transparent, $blue);
  }

  &.button_danger {
    @include button-color(transparent, $red);
  }
}
