@import '../../styles/colors';

.form {
  width: 340px;
  min-height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.14);
  padding: 50px 30px 30px;

  .form__header {
    margin-bottom: 40px;
    text-align: center;
  }

  .form__input-container {
    margin-bottom: 16px;
  }

  .form__input-container:last-of-type {
    margin-bottom: 47px;
  }

  .form__button {
    margin-top: auto;
  }

  .form__link {
    margin-top: 14px;
  }
}
