@use 'sass:color';

$white: #FFF;
$blue: #3369F3;
$light-blue: #E4EDFD;
$light-blue-hover: color.adjust($light-blue, $lightness: 3%);
$red: #FF2F2F;

$white-lightness: 100%;

$color-grey-fb: hsl(0deg, 0%, calc($white-lightness - 2%));
$color-grey-f8: hsl(0deg, 0%, calc($white-lightness - 3%));
$color-grey-f5: hsl(0deg, 0%, calc($white-lightness - 4%));
$color-grey-ef: hsl(0deg, 0%, calc($white-lightness - 6%));
$color-grey-ea: hsl(0deg, 0%, calc($white-lightness - 8%));
$color-grey-99: hsl(0deg, 0%, calc($white-lightness - 40%));
$black: hsl(0deg, 0%, calc($white-lightness - 88%));
