<div class="chats-container">
  <section class="chats-container__header">
    {{{profileLink}}}
    {{{searchInput}}}
  </section>
  <section class="chats-container__body">
    {{{chatCards}}}
  </section>
</div>
<div class="chat__messages">Выберите чат чтобы отправить сообщение</div>
