@import '../../styles/colors';

#profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;

  .profile__form-container {
    flex-basis: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .profile__form {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 510px;

      .profile__avatar {
        margin-bottom: 21px;
      }

      .profile__header {
        margin-bottom: 60px;
      }

      .profile__data {
        width: 100%;
        margin-bottom: 60px;

        .profile__data-item {
          margin-bottom: 10px;
        }
      }

      .profile__actions {
        width: 100%;

        .profile__button-container {
          margin-bottom: 10px;
          padding-bottom: 10px;
          border-bottom: 1px solid $color-grey-ea;

          &:last-of-type {
            border-bottom: none;
          }
        }
      }
    }
  }
}

.profile-change-data-modal-dialog {
  border-radius: 12px;
}
