{{{avatar}}}
<div class="chat-card__data">
  <div class="chat-card__header-container">
    {{{header}}}
    <div class="chat-card__time">{{time}}</div>
  </div>
  <div class="chat-card__info">
    <div class="chat-card__text">{{#if lastMessageYours}}<span class="chat-card__main_sender">Вы: </span>{{/if}}{{content}}</div>
  </div>
</div>
